* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  color: #373737;
}
.menu {
  text-align: center;
}
.menu-list {
  margin-top: 26px;
  margin-bottom: 26px;
}
.menu-item {
  list-style: none;
  display: inline-block;
  text-align: center;
}
.menu-item + .menu-item {
  margin-left: 72px;
}
.menu-link {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0000;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slogan {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}
.description {
  width: 1145px;
  margin: auto;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
}
footer {
  padding-top: 17px;
  padding-bottom: 29px;
  width: 1070px;
  margin: auto;
}
.button {
  margin: 66px auto;
  display: block;
  padding: 18px 42px;
  background-color: #ff0000;
  border-radius: 4px;
  border-color: #ff0000;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  border-color: #ffffff;
}
.copyright {
  display: inline;
  padding-left: 600px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
}
